<a href="https://clarusway.com/contact-us/"><img align="center" src="https://i.ibb.co/B43qn24/officially-licensed-logo.png" alt="Open in Clarusway LMS" width="110" height="200" title="This notebook is licensed by Clarusway IT training school. Please contact the authorized persons about the conditions under which you can use or share."></a>

# Example -1 Inclass Data

In [1]:
import pandas as pd
import seaborn as sns
from scipy.stats import chi2_contingency

In [2]:
table = [[15, 21, 45, 13],[26, 31, 34, 5], [33, 17, 49, 20]]

In [ ]:
# Ho: The two categorical variables are independent.
# H1: The two categorical variables are dependent.

In [3]:
stat, p, dof, expected = chi2_contingency(table)

In [4]:
print('stat=%.3f, p=%.4f' % (stat, p))
if p > 0.05:
	print('Fail to reject Ho')
else:
	print('We reject the null hypothesis. The two categorical variables are dependent')

stat=19.178, p=0.0039
We reject the null hypothesis. The two categorical variables are dependent

In [5]:
expected

array([[22.51132686, 20.99029126, 38.93851133, 11.55987055],
       [22.99029126, 21.4368932 , 39.76699029, 11.80582524],
       [28.49838188, 26.57281553, 49.29449838, 14.63430421]])

In [6]:
dof

6

In [7]:
# We can get the same result with manual method
from scipy import stats
1 - stats.chi2.cdf(19.17, 6)

0.0038859579107577424

# Example -2 Titanic Dataset

In [8]:
titanic = sns.load_dataset("titanic")
titanic.sample(7)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
215,1,1,female,31.0,1,0,113.2750,C,First,woman,False,D,Cherbourg,yes,False
430,1,1,male,28.0,0,0,26.5500,S,First,man,True,C,Southampton,yes,True
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
177,0,1,female,50.0,0,0,28.7125,C,First,woman,False,C,Cherbourg,no,True
170,0,1,male,61.0,0,0,33.5000,S,First,man,True,B,Southampton,no,True
50,0,3,male,7.0,4,1,39.6875,S,Third,child,False,NaN,Southampton,no,False
799,0,3,female,30.0,1,1,24.1500,S,Third,woman,False,NaN,Southampton,no,False

How many rows and columns

In [9]:
titanic.shape

(891, 15)

How many null values are there in columns?

In [10]:
titanic.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [11]:
titanic=titanic.drop(["deck", "age"], axis=1)

In [12]:
titanic=titanic.dropna()

In [13]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 890
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     889 non-null    int64
 1   pclass       889 non-null    int64
 2   sex          889 non-null    object
 3   sibsp        889 non-null    int64
 4   parch        889 non-null    int64
 5   fare         889 non-null    float64
 6   embarked     889 non-null    object
 7   class        889 non-null    category
 8   who          889 non-null    object
 9   adult_male   889 non-null    bool
 10  embark_town  889 non-null    object
 11  alive        889 non-null    object
 12  alone        889 non-null    bool
dtypes: bool(2), category(1), float64(1), int64(4), object(5)
memory usage: 79.1+ KB

In [14]:
titanic2=titanic.sample(200, random_state=42)

In [21]:
# Does gender affects survival ?

In [15]:
# We can see both male and female survivors using a crosstab
crosstab = pd.crosstab(titanic2.survived, titanic2.sex)
crosstab

sex       female  male
survived
0             24   101
1             56    19

In [16]:
# Ho: The two categorical variables (gender and survived) are independent.
# H1: The two categorical variables are dependent.

In [17]:
from scipy import stats
stat, p, dof, expected = stats.chi2_contingency(crosstab)
print('stat=%.3f, p=%.4f' % (stat, p))

stat=57.800, p=0.0000

In [18]:
if p > 0.05:
	print('Fail to reject Ho')
else:
	print('We reject the null hypothesis. Gender and survived variables are dependent')

We reject the null hypothesis. Gender and survived variables are dependent

# Example-3 Titanic Dataset

In [20]:
# Does class affect survival? In other words Class and survived variables are dependent or not?

In [22]:
crosstab = pd.crosstab(titanic2["survived"], titanic2["class"])
crosstab

class     First  Second  Third
survived
0            16      27     82
1            32      18     25

In [23]:
stat, p, dof, expected = stats.chi2_contingency(crosstab)
print('stat=%.3f, p=%.4f' % (stat, p))

stat=26.664, p=0.0000

In [24]:
if p > 0.05:
	print('Fail to reject Ho')
else:
	print('We reject the null hypothesis. Class and survived variables are dependent')

We reject the null hypothesis. Class and survived variables are dependent

In [31]:
crosstab = pd.crosstab(titanic2["embarked"], titanic2["class"])
crosstab

class     First  Second  Third
embarked
C            21       2     15
Q             1       2     12
S            26      41     80

In [33]:
#crosstab = pd.crosstab(titanic2["embarked"], titanic2["class"], normalize="columns")
#crosstab

In [32]:
stat, p, dof, expected = stats.chi2_contingency(crosstab)
print('stat=%.3f, p=%.4f' % (stat, p))

stat=30.661, p=0.0000

In [34]:
mpg = sns.load_dataset("mpg")
mpg.sample(7)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
54,35.0,4,72.0,69.0,1613,18.0,71,japan,datsun 1200
140,14.0,8,304.0,150.0,4257,15.5,74,usa,amc matador (sw)
387,38.0,6,262.0,85.0,3015,17.0,82,usa,oldsmobile cutlass ciera (diesel)
274,20.3,5,131.0,103.0,2830,15.9,78,europe,audi 5000
391,36.0,4,135.0,84.0,2370,13.0,82,usa,dodge charger 2.2
23,26.0,4,121.0,113.0,2234,12.5,70,europe,bmw 2002
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl

In [35]:
crosstab = pd.crosstab(mpg["origin"], mpg["cylinders"])
crosstab

cylinders  3   4  5   6    8
origin
europe     0  63  3   4    0
japan      4  69  0   6    0
usa        0  72  0  74  103

In [36]:
stat, p, dof, expected = stats.chi2_contingency(crosstab)
print('stat=%.3f, p=%.4f' % (stat, p))

stat=180.102, p=0.0000

In [37]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']