
  <ipython-input-1-da02f000bbff>
    <a href="https://clarusway.com/contact-us/"><img align="center" src="https://i.ibb.co/B43qn24/officially-licensed-logo.png" alt="Open in Clarusway LMS" width="110" height="200" title="This notebook is licensed by Clarusway IT training school. Please contact the authorized persons about the conditions under which you can use or share."></a>

# 1 sample t test

In [ ]:
pip install statsmodels

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: statsmodels in /usr/local/lib/python3.8/dist-packages (0.12.2)
Requirement already satisfied: patsy>=0.5 in /usr/local/lib/python3.8/dist-packages (from statsmodels) (0.5.3)
Requirement already satisfied: scipy>=1.1 in /usr/local/lib/python3.8/dist-packages (from statsmodels) (1.7.3)
Requirement already satisfied: pandas>=0.21 in /usr/local/lib/python3.8/dist-packages (from statsmodels) (1.3.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.8/dist-packages (from statsmodels) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.21->statsmodels) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.21->statsmodels) (2022.7)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from patsy>=0.5->statsmodels) (1.15.0)

In [ ]:
import statsmodels.api as sm

In [ ]:
df = sm.datasets.get_rdataset(dataname = "Pima.tr", package = "MASS")
df.keys()

dict_keys(['data', '__doc__', 'package', 'title', 'from_cache'])

In [ ]:
print(df.__doc__)

.. container::

   ======= ===============
   Pima.tr R Documentation
   ======= ===============

   .. rubric:: Diabetes in Pima Indian Women
      :name: diabetes-in-pima-indian-women

   .. rubric:: Description
      :name: description

   A population of women who were at least 21 years old, of Pima Indian
   heritage and living near Phoenix, Arizona, was tested for diabetes
   according to World Health Organization criteria. The data were
   collected by the US National Institute of Diabetes and Digestive and
   Kidney Diseases. We used the 532 complete records after dropping the
   (mainly missing) data on serum insulin.

   .. rubric:: Usage
      :name: usage

   ::

      Pima.tr
      Pima.tr2
      Pima.te

   .. rubric:: Format
      :name: format

   These data frames contains the following columns:

   ``npreg``
      number of pregnancies.

   ``glu``
      plasma glucose concentration in an oral glucose tolerance test.

   ``bp``
      diastolic blood pressure (mm Hg).

   ``skin``
      triceps skin fold thickness (mm).

   ``bmi``
      body mass index (weight in kg/(height in m)\ ``^2``).

   ``ped``
      diabetes pedigree function.

   ``age``
      age in years.

   ``type``
      ``Yes`` or ``No``, for diabetic according to WHO criteria.

   .. rubric:: Details
      :name: details

   The training set ``Pima.tr`` contains a randomly selected set of 200
   subjects, and ``Pima.te`` contains the remaining 332 subjects.
   ``Pima.tr2`` contains ``Pima.tr`` plus 100 subjects with missing
   values in the explanatory variables.

   .. rubric:: Source
      :name: source

   Smith, J. W., Everhart, J. E., Dickson, W. C., Knowler, W. C. and
   Johannes, R. S. (1988) Using the ADAP learning algorithm to forecast
   the onset of *diabetes mellitus*. In *Proceedings of the Symposium on
   Computer Applications in Medical Care (Washington, 1988),* ed. R. A.
   Greenes, pp. 261–265. Los Alamitos, CA: IEEE Computer Society Press.

   Ripley, B.D. (1996) *Pattern Recognition and Neural Networks.*
   Cambridge: Cambridge University Press.

In [ ]:
df.data

     npreg  glu  bp  skin   bmi    ped  age type
0        5   86  68    28  30.2  0.364   24   No
1        7  195  70    33  25.1  0.163   55  Yes
2        5   77  82    41  35.8  0.156   35   No
3        0  165  76    43  47.9  0.259   26   No
4        0  107  60    25  26.4  0.133   23   No
..     ...  ...  ..   ...   ...    ...  ...  ...
195      2  141  58    34  25.4  0.699   24   No
196      7  129  68    49  38.5  0.439   43  Yes
197      0  106  70    37  39.4  0.605   22   No
198      1  118  58    36  33.3  0.261   23   No
199      8  155  62    26  34.0  0.543   46  Yes

[200 rows x 8 columns]

In [ ]:
df = df.data

In [ ]:
df.head()

   npreg  glu  bp  skin   bmi    ped  age type
0      5   86  68    28  30.2  0.364   24   No
1      7  195  70    33  25.1  0.163   55  Yes
2      5   77  82    41  35.8  0.156   35   No
3      0  165  76    43  47.9  0.259   26   No
4      0  107  60    25  26.4  0.133   23   No

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   npreg   200 non-null    int64
 1   glu     200 non-null    int64
 2   bp      200 non-null    int64
 3   skin    200 non-null    int64
 4   bmi     200 non-null    float64
 5   ped     200 non-null    float64
 6   age     200 non-null    int64
 7   type    200 non-null    object
dtypes: float64(2), int64(5), object(1)
memory usage: 12.6+ KB

In [ ]:
df.describe()

,npreg,glu,bp,skin,bmi,ped,age
count,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000
mean,3.570000,123.970000,71.260000,29.215000,32.310000,0.460765,32.110000
std,3.366268,31.667225,11.479604,11.724594,6.130212,0.307225,10.975436
min,0.000000,56.000000,38.000000,7.000000,18.200000,0.085000,21.000000
25%,1.000000,100.000000,64.000000,20.750000,27.575000,0.253500,23.000000
50%,2.000000,120.500000,70.000000,29.000000,32.800000,0.372500,28.000000
75%,6.000000,144.000000,78.000000,36.000000,36.500000,0.616000,39.250000
max,14.000000,199.000000,110.000000,99.000000,47.900000,2.288000,63.000000

In [ ]:
# suppose we hypothesize that the population mean of bmi among Pima Indian women is equal to 30.
# However we found sample mean as x_bar = 32.3

In [ ]:
# bmi mean:
# Ho: mu = 30
# Ha: mu > 30

In [ ]:
df.bmi.mean()

32.31

In [ ]:
# sample size = 200
# sample std = 6.13
# sample mean = 32.3

In [ ]:
import scipy.stats as stats
onesample = stats.ttest_1samp (df["bmi"], 30)
onesample

Ttest_1sampResult(statistic=5.329070841262502, pvalue=2.6614410307455736e-07)

In [ ]:
#help(stats.ttest_1samp)

In [ ]:
onesample.pvalue/2

1.3307205153727868e-07

In [ ]:
alpha = 0.05
if onesample.pvalue/2<alpha:
    print('At {} level of significance, we can reject the null hypothesis in favor of alternative hypothesis.'.format(alpha))
else:
    print('At {} level of significance, we fail to reject the null hypothesis.'.format(alpha))

At 0.05 level of significance, we can reject the null hypothesis in favor of alternative hypothesis.